DATABASE_URL=postgres://sezalagrawal@host.docker.internal:5432/loan_development?application_name=loan_app&sslmode=disable
DB_MAX_IDLE_CONNECTIONS=10
DB_MAX_OPEN_CONNECTIONS=100
DUMP_SCHEMA_AFTER_MIGRATION=true
ENV=development
PORT=8102
SERVICE_AUTH_CONFIG=abc:8f93b00d75907eb90c02c8793c7a00d1